@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libertinus+Serif+Display&display=swap');

@font-face {
  font-family: 'Futura PT';
  src: url('https://school.astrolog-liliya.ru/fileservice/file/download/a/156488/sc/336/h/a75ef6f63d8afd90ebffa23820db3313.woff') format('woff');
  font-weight: 400; /* Book */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('https://school.astrolog-liliya.ru/fileservice/file/download/a/156488/sc/61/h/eb44d4b8579036d6ce58bd0690152396.woff') format('woff');
  font-weight: 600; /* Demi */
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Futura PT';
  src: url('https://school.astrolog-liliya.ru/fileservice/file/download/a/156488/sc/281/h/dcab20e18ad5d2c464f60a6482d6c29e.woff') format('woff');
  font-weight: 500; /* Medium */
  font-style: normal;
  font-display: swap;
}


body.chatium_body .custom-banner {
  margin-top: 70px !important;
}

.xdget-common-user-form h3 {
color: #000 !important;    
}
.offer-xdget-container label {
color: #000 !important;    
}

.form-field-phone .label-value {
color: #000 !important;    
}

.stream-table tr td a{
position: absolute !important;    
top: 10px !important;
left: 20px !important;
}
.tg-left-banner {
border-radius: 15px !important;
padding-top: 10px !important;
box-shadow: 0px -6px 21.4px rgba(0, 0, 0, 0.05) !important;
background: linear-gradient(var(--card-bg), var(--card-bg)) padding-box, linear-gradient(165.55deg, var(--card-border-gradient-start) -2.53%, var(--card-border-gradient-end) 79.97%) border-box;
border: 1px solid transparent !important;    
}

.tg-left-banner .xdget-button{
background: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%);    
transition: transform 0.5s ease;
}
.tg-left-banner .xdget-button:hover{
transform: translateY(-3px);   
}


.help-left-banner {
border-radius: 15px !important;
padding-top: 10px !important;
box-shadow: 0px -6px 21.4px rgba(0, 0, 0, 0.05) !important;
background: linear-gradient(var(--card-bg), var(--card-bg)) padding-box, linear-gradient(165.55deg, var(--card-border-gradient-start) -2.53%, var(--card-border-gradient-end) 79.97%) border-box;
border: 1px solid transparent !important;
}

.help-left-banner .supportLink a {
background: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%);    
transition: transform 0.5s ease;
color: #FFF;
padding: 5px 10px;
border-radius: 5px !important;
}
@media screen and (max-width: 768px) {
    .stream-table tbody tr td .stream-title {
        display: block;
        font-family: 'Montserrat' !important;
    }
  .container {
        width: 100% !important;
        margin: 0 auto !important;
        max-width: 100% !important;
        padding: 0px !important;
        margin: 0px !important;
}

.page-full-block {
        margin-top: 70px !important;
        width: 100% !important;
        padding-right: 15px;
        padding-left: 15px;
}

.col-md-12 {
        padding: 0 !important;
}

.row {
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

.xdget-block .page-full-block {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

.xdget-root {
        margin-top: 20px !important;
        max-width: 90vw !important;
        margin: 0 auto !important;
    }
.stream-table {
        margin-left: 0px !important;
}
    .col-md-8 {
        padding-left: 0px;
        padding-right: 0px !important;
    }
}



.training-image{
position: absolute !important;
width: 100% !important;
height: auto !important; /* сохраняет пропорции */
object-fit: contain !important;
bottom: 50%;
}

@media screen and (min-width: 768px) {
.xdget-training .lesson-list{
margin-left: -20px !important;
}
[class*=" lesson-id-"]{
margin-left: 0px !important;
}
.xdget-root .page-full-block{
margin-left: 25px !important;
}
.container {
    width: 100%;
    max-width: 90%; /* максимальная ширина для больших экранов */
    margin: 0 auto;
    padding: 0 15px; /* отступы по бокам */
}
}

@media screen and (max-width: 768px) {
.xdget-training .lesson-list li{
padding-left: 10px;
}
.xdget-training .lesson-list{
margin-left: -10px;
margin-right: -10px;
}

[class*=" lesson-id-"]{
margin-right: 0px !important;
margin-left: 0px !important;
}

}

/*========== ИСПРАВИТЬ ВРЕМЕННОЕ ==========*/
[class*="custom-leson-"] .lesson-number{
display: none;
background: #D5BAAF;
padding: 8px 15px;
border-radius: 5px;    
font-style: normal;
font-weight: 600;
font-size: 12px;
color: #FFFFFF;
position: absolute;
top: 10px;
}   
/*========== ИСПРАВИТЬ ВРЕМЕННОЕ ==========*/

:root {
    --button-padding: 15px 32px;
    --font-size: 16px;
}
@media screen and (min-width: 768px) {
.container{
margin: 5% !important;    
}
}
body {
background: #FAFAFA;   
}

/*========== Оформление списка уроков ==========*/
[class*="lesson-id-"] {
display: block !important;
background: #fff;
filter: drop-shadow(0px 0px 18.5px rgba(0, 0, 0, 0.07));
border-radius: 15px !important ;
background: #fff url("https://thumb.tildacdn.com/tild3732-3535-4030-b331-613464613462/-/format/webp/Frame_312.png.webp") no-repeat center center !important;
background-size: cover !important; /* чтобы на hover тоже занимало всю ячейку */
min-height: 155px !important;
margin-bottom: 30px;
height: auto !important; /* обязательно! */
transition: transform 0.3s ease, box-shadow 0.3s ease;
}
[class*="lesson-id-"]:hover {
transform: translateY(-10px);
box-shadow: 0 10px 38.5px rgba(0, 0, 0, 0.1);    
}
.col-md-8{
padding-left: 0px;
}
.lesson-list li table{
min-width: 80%
}
@media screen and (max-width: 768px) {
[class*="lesson-id-"] {
min-height: 100px !important;
border-radius: 10px !important;
/width: 90vw;
}
.col-md-8{
padding-left: 0px;
padding-right: 0px !important;
}
.lesson-list li .info{
margin-left: 0px !important;        
    }
}
.lesson-list {
background: transparent;    
}
.info {
background: transparent !important;
margin-left: 27px !important;
border-left: 0 !important;
margin-top: 0px; 
}
.hidden-xs {
display: none;    
}
.user-state-bg{
background: transparent !important; 
}
.glyphicon {
display: none;    
}
.lesson-list {
padding: 0
}
.lesson-list li .item-image {
position: absolute;
right: 10px;
top: 10px;
left: auto;
bottom: auto;
min-height: 130px !important;
min-width: 130px !important;
width: auto !important;
border-radius: 15px; 
}
.lesson-list__video-watched {
display: none !important;    
}
.user-state-reached .lesson-date {
display: none !important;   
}
/*========== Оформление списка уроков !Урок №...! ==========*/

[class*="custom-lesson-"] .lesson-number{
background: #2A2544;
padding: 8px 15px;
border-radius: 5px;
    
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #FFFFFF;
position: absolute;
top: 10px;
}
@media screen and (max-width: 768px) {
[class*="custom-lesson-"] .lesson-number{
background: #2A2544;
padding: 8px 15px;
border-radius: 5px;    
font-style: normal;
font-weight: 600;
font-size: 12px;
color: #FFFFFF;
position: absolute;
top: 10px;
}    
}


/*========== Оформление списка уроков !текст! ==========*/
@media screen and (min-width: 768px) {
.lesson-list .title {
font-family: 'Montserrat';
font-style: normal;
font-weight: 500 !important;
font-size: 24px;
line-height: 29px;
text-transform: uppercase;
max-width: 80% !important;
font-style: normal;
font-size: 23px !important;
line-height: 31px !important;
color: #2A2544;
padding-top: 10px;
margin-top: 30px;
}
}
.lesson-list .description {
        margin-top: 10px;
        color: #363636;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
        padding-left: 1px;
        max-width: 80% !important;
}
@media screen and (max-width: 768px) {
.lesson-list .title {
position: relative !important;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600 !important;
font-size: 18px !important;
line-height: 19px !important;
text-transform: uppercase;
color: #2A2544;
padding-top: 10px;
margin-top: 30px;
}
.lesson-list .description {
margin-top: 5px;
color: #717171;
font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 12px;
position: relative;
left: -20px;
}
}
.user-state-need_accomplish .user-state-label.user-state-label-ex{
font-style: normal;
font-weight: 600 !important;
color: #2A2544;  
}
.user-state-need_accomplish .user-state-label.user-state-label-ex::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    mask: url(https://static.tildacdn.info/tild3138-6266-4662-b330-663338363238/Circle_Warning.svg) no-repeat center;
    background-color: #2A2544;
    background-size: auto;
    top: 5px;
    position: relative;
}
.user-state-label.lesson-date {
color: #5F3ECF !important;    
}
.user-state-has_mission .user-state-label.user-state-label-ex{
font-style: normal;
font-weight: 600 !important;
color: #2A2544;    
}
.user-state-has_mission .user-state-label.user-state-label-ex::before{
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    mask: url(https://static.tildacdn.info/tild3138-6266-4662-b330-663338363238/Circle_Warning.svg) no-repeat center;
    background-color: #2A2544;
    background-size: auto;
    top: 5px;
    position: relative;
}



/*========== Оформление списка уроков !недоступные! ==========*/
.user-state-not_reached .item-image{
filter: grayscale(100%);    
}

.user-state-not_reached [class*="custom-lesson-"] .lesson-number{
background: #D7D7D7;
padding: 8px 15px;
border-radius: 5px;    
font-style: normal;
font-weight: 600;
font-size: 14px;
color: #FFFFFF;
position: absolute;
top: 10px;
}

@media screen and (max-width: 768px) {
.user-state-not_reached [class*="custom-lesson-"] .lesson-number{
background: #D7D7D7;
padding: 8px 15px;
border-radius: 5px;    
font-style: normal;
font-weight: 600;
font-size: 12px;
color: #FFFFFF;
position: absolute;
top: 10px;    
} 
.user-state-not_reached .user-state-label{
color:#9e7c6e;
display: flex; /* Включаем Flexbox для контейнера */
align-items: center; /* Выравнивание по центру по вертикали */       
/position: absolute;
/top: 40%;
/left: 20% !important;
/transform: scale(1.2)!important;
z-index: 2;
}
}
/.user-state-not_reached .user-state-label{
color:#424242;
display: flex; /* Включаем Flexbox для контейнера */
align-items: center; /* Выравнивание по центру по вертикали */       
position: absolute;
top: 40%;
left: 30%;
transform: scale(1.5);
z-index: 2;
}
.user-state-not_reached .title {
color: #363636 !important;    
}

/.user-state-not_reached::after{
content: ""; /* Пустое содержимое */
  position: absolute; /* Абсолютное позиционирование */
  top: 0;
  left: 0;
  width: 100%; /* Ширина как у основного элемента */
  height: 100%; /* Высота как у основного элемента */
  background: rgba(189, 189, 189, 0.01);
  backdrop-filter: blur(4px);
  z-index: 1; /* Размещаем под основным контентом */     
}
.user-state-not_reached {
  position: relative; /* Делаем его опорной точкой для псевдоэлемента */
}



/*========== Оформление списка тренигов !Верх! ==========*/
.breadcrumbs a {    
font-family: 'Futura PT';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 23px;
color: #292929;
}
.breadcrumbs a:hover  {
text-decoration: none !important;   
}
.breadcrumbs a:after{ /* Стрелка слева для мини меню возврата назад "< тренинги" */
content: "";
display: inline-block; /* Позволяет задать размеры для псевдоэлемента */
width: 15px; /* Ширина изображения */
height: 15px; /* Высота изображения */
mask: url('https://static.tildacdn.com/tild3236-3233-4137-b865-626135396466/Arrow_10.svg') no-repeat center;
background-color: #FFFFFF; /* Тот самый "цвет" SVG */
background-size: contain; /* Масштабирует изображение, чтобы оно полностью помещалось в элемент */
margin-left: 5px; /* Отступ слева от псевдоэлемента */
transform: scale(1.4) rotate(180deg);
position: relative;
top: 3px;
transition: transform 0.5s ease;
}
.breadcrumbs a:hover:after{ /* Стрелка слева для мини меню возврата назад "< тренинги" */
content: "";
display: inline-block; /* Позволяет задать размеры для псевдоэлемента */
width: 15px; /* Ширина изображения */
height: 15px; /* Высота изображения */
mask: url('https://static.tildacdn.com/tild3236-3233-4137-b865-626135396466/Arrow_10.svg') no-repeat center;
background-color: #FFFFFF; /* Тот самый "цвет" SVG */
background-size: contain; /* Масштабирует изображение, чтобы оно полностью помещалось в элемент */
margin-left: 5px; /* Отступ слева от псевдоэлемента */
transform: scale(1.4) rotate(180deg) translateX(-5px);
position: relative;
top: 3px;
}
/*.content-menu {
display: none;    
}*/
@media screen and (max-width: 768px) {
.page-header h1{
font-size: 20px;

position: relative;
}
.breadcrumbs {

position: relative;
    }

}





















/*========== Переменные цветов ==========*/
:root {
  --bg-gradient-start: #060225;
  --bg-gradient-end: #060225;
  --card-bg: #2A2544;
  --card-border-gradient-start: #FFFFFF;
  --card-border-gradient-end: #2A2544;
  --text-white: #FFFFFF;
  --menu-active-gradient: linear-gradient(107.81deg, #2F216C -29.24%, #5F3ECF 25.35%, #5F3ECF 52.98%, #2F216C 107.57%);
}

/*========== Общие стили страницы ==========*/
@media screen and (min-width: 768px) {
body {
  background: 
    url("https://static.tildacdn.com/tild6638-3535-4665-a434-396166643662/lilia_gaevaya_v2_les.png") no-repeat right center / auto 100%,
    linear-gradient(223.91deg, var(--bg-gradient-start) -1.97%, var(--bg-gradient-end) 69.05%);
  background-attachment: fixed, scroll;
  margin: 0;
  font-family: 'Futura PT', sans-serif;
  color: var(--text-white);
}
}
@media screen and (max-width: 768px) {
body {
  background: 
    url("https://static.tildacdn.com/tild3937-3962-4436-b032-356464616139/iPhone_SE_-_1.png") no-repeat right center / auto 100%,
    linear-gradient(223.91deg, var(--bg-gradient-start) -1.97%, var(--bg-gradient-end) 69.05%);
  background-attachment: fixed, scroll;
  margin: 0;
  font-family: 'Futura PT', sans-serif;
  color: var(--text-white);
}
}

.logo-link img {
display: none;    
}
@media screen and (min-width: 768px) {
.page-full-block {
  margin-left: 100px;
}


.container{
margin-left: 0px !important;
}

/*========== Таблица стримов ==========*/
.stream-table tbody {
  display: flex;
  flex-wrap: wrap;
}
}
@media screen and (min-width: 768px) {
.stream-table tbody tr {
  position: relative;
  flex: 0 0 calc(50% - 20px);
  height: 300px !important; /* оставляем твою высоту */
  border-radius: 15px !important;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
  transition: all 0.45s;
  background: 
    linear-gradient(var(--card-bg), var(--card-bg)) padding-box,
    linear-gradient(165.55deg, var(--card-border-gradient-start) -2.53%, var(--card-border-gradient-end) 79.97%) border-box;
  border: 1px solid transparent !important;
}
}
@media screen and (max-width: 768px) {
.stream-table tbody tr {
position: relative;
  flex: 0 0 calc(50% - 0px);
  height: 300px !important; /* оставляем твою высоту */
  border-radius: 15px !important;
  margin: 10px;
  overflow: hidden;
  box-shadow: 0 0 3px 1px rgba(0,0,0,0.1);
  transition: all 0.45s;
  background: 
    linear-gradient(var(--card-bg), var(--card-bg)) padding-box,
    linear-gradient(165.55deg, var(--card-border-gradient-start) -2.53%, var(--card-border-gradient-end) 79.97%) border-box;
  border: 1px solid transparent !important;
}
}
.stream-table tbody tr:hover {
  transform: translateY(-10px);
}

.stream-table tbody tr td:hover {
  transform: none !important;
  background: none !important;
}

.stream-table tr td a {
  width: 100% !important;
  height: 100% !important;
}

.stream-table tr td {
  width: 100% !important;
  height: 100% !important;
}

/*========== Текст внутри карточек ==========*/
.stream-table tbody tr td .stream-title {
  margin-top: 150px !important;
  color: var(--text-white) !important;
  font-family: 'Futura PT' !important;
  font-style: normal;
  font-weight: 500 !important;
  font-size: 22px !important;
  line-height: 26px !important;
  padding: 0 !important;
  width: 90%;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  max-height: 4.5em;
  line-height: 1.5em;
  word-break: break-word;
}

.stream-table tbody tr td div {
  color: var(--text-white) !important;
  font-family: 'Futura PT' !important;
  font-style: normal;
  max-width: 90% !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 19px !important;
}

.stream-table tbody tr td div b {
  color: var(--text-white) !important;
  font-family: 'Futura PT' !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 19px !important;
}

/*========== Обёртка тренингов ==========*/

@media screen and (min-width: 768px) {
.training-row {
  display: flex !important;
  width: 100%;
}
}
@media screen and (max-width: 768px) {
.training-row {
  display: flex !important;
}
}
/*========== Заголовки страницы ==========*/
.page-header h1 {
  font-family: "Libertinus Serif Display", system-ui;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  margin-right: 0px !important;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--text-white);
}

/*========== Хлебные крошки ==========*/
.breadcrumbs a {    
  font-family: 'Futura PT', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  color: var(--text-white);
  text-decoration: none !important;
  position: relative;
}

.breadcrumbs a:after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  mask: url('https://static.tildacdn.com/tild3236-3233-4137-b865-626135396466/Arrow_10.svg') no-repeat center;
  background-color: var(--text-white);
  background-size: contain;
  margin-left: 5px;
  transform: scale(1.4) rotate(180deg);
  top: 3px;
  position: relative;
  transition: transform 0.5s ease;
}

.breadcrumbs a:hover:after {
  transform: scale(1.4) rotate(180deg) translateX(-5px);
}

/*========== Меню страницы ==========*/
.page-menu li a {
  color: var(--text-white) !important;
}

.page-menu li.active {
  background: var(--menu-active-gradient) !important;
  border-radius: 5px;
}

.content-menu {
  border-bottom: 0 !important;
}

.clearfix, .gc-tags span {
  color: var(--text-white) !important;
}

/*========== Адаптив ==========*/
@media screen and (max-width: 768px) {
  .page-header h1 {
    font-size: 30px;
    position: relative;
  }
  
  .breadcrumbs {
    position: relative;
  }
} 


